@model IEnumerable<AtmoreChamberPinnacle.Models.OnlineStore.Product>

@{
    ViewBag.Title = "Atmore Chamber Store";
}

<h2>Atmore Chamber Store</h2>


<div class="">
    <div>
        @*<th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isInStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imgSource)
        </th>
        <th></th>*@
    </div>

@foreach (var item in Model) {
    <div>

        @*<td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isInStock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imgSource)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ProductID }) |
        </td>*@
    </div>
}

</div>
