@model IEnumerable<AtmoreChamber.Models.Product>

<h1>Atmore Chamber Store</h1>
<br />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li>Items in Cart:</li>
        <li>0</li>
    </ol>
</nav>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <div style="height:200px; width:200px;">
                    <img style="height:100%; width:100%;" src="~/Content/images/products/@item.ProductIMG" alt="Alternate Text" />
                </div>
                <h5 class="card-header bg-dark-teal">@Html.DisplayFor(modelItem => item.ProductTitle)</h5>
                <div class="card-body">
                    <p class="card-text">
                        @Html.DisplayFor(modelItem => item.ProductDescription)<br />
                        @Html.DisplayFor(modelItem => item.ProductPrice)<br />
                    </p>
                    <hr />
                    <a href="#" class="card-link fa fa-shopping-cart"> Add to Cart</a>
                </div>
            </div>
        </div>

    }
    </div>

<br />

<div class="row">
    <div class="col-md-4">
        <a class="btn btn-lg btn-primary btn-block" href="/Products/SqPaymentForm">Purchase using Square</a>
        </div>
    </div>
    <!-- Old list HTML

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductTitle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductIMG)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductPrice)
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductIMG)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductPrice)
                        </td>
                    </tr>
                }
            </table>
            <hr />

        -->
