@model IEnumerable<AtmoreChamberPinnacle.Models.Members>

@{
    ViewBag.Title = "Members";
}

<h2>Membership Directory</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Business)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Industry)
            </th>
            <th></th>
        </tr>
    </thead>



    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Business)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Website)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Industry)
                </td>

                <td>
                    @* only allows admin to see the functions to edit table *@
                    @if (User.IsInRole("Admin"))
                    {

                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })<br />
                        @Html.ActionLink("Details", "Details", new { id = item.Id })<br />
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })

                    }
                </td>

            </tr>
        }
    </tbody>
</table>

@* jQuery cdn *@
<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
@* DataTables scripts *@
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
        console.log($)
    });
</script>
